h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
}

aside {
    background-color: #1C1C1A;
}

main {
    background-color: #F5F3EF;
}

.card {
    background-color: #FFFFFF;
}